mixin project-card(name, authority, releaseDate, image, description, concepts, techStack, projectLink, gitLinks)
  .row.project-card.mb-4.mx-1
    .col-12.d-flex.justify-content-between
      .left-container
        h3.mb-0.pf-primary=name
        p.pf-muted-faded=authority
      .links-container.d-flex.justify-content-end
        if projectLink
          a.project-link(href=projectLink target="_blank" rel="noopener" title="See live")
            i.fas.fa-external-link-alt.mr-1
        if gitLinks
          each gitLink in gitLinks
            a.project-link.ml-3(href=gitLink target="_blank" rel="noopener" title="See repository")
              i.fab.fa-github.mr-1
    .col-12
      .img-container.position-relative
        img.img-fluid.project-image(src=image)
        a.image-overlay(href=projectLink target="_blank" rel="noopener")
    .col-12.mt-4
      p.mb-1.font-weight-bold.pf-secondary Concepts
      ul.pl-3
        each concept in concepts
          li.pf-muted-faded=concept
    .col-12.mt-4.mb-4
      p.mb-1.font-weight-bold Description
      p=description
    .col-12.d-flex.justify-content-between.align-items-center.border-top.mt-3.pt-3
      .tech-stack-container
        each tech, index in techStack
          .tech-item.mr-2.mb-1=tech
      